.about{
   width: 100%;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   
}

.about img{
   width: 280px;
}
.info-about {
   text-align: start;
   margin-left: 3rem;
   width: 50%;
}

.info-about h1{
   color:rgb(255, 255, 255)

}

.info-about p{
  font-size:  1.2rem;
  color: rgb(214, 213, 213);
 
}


@media (max-width: 768px) {
   .about{
      height: 250px;
   }

   .about img{
      width: 170px;
   }

   .info-about {
      text-align: start;
      margin-left: 1rem;
      width: 50%;
   }

   .info-about h1{
      font-size: 22px;
   
   }

   .info-about p{
      font-size:  13px;
    }
 }
 
 /* Estilos para pantallas pequeñas (por ejemplo, teléfonos móviles) */
 @media (max-width: 480px) {
   .about{
      height: auto;
   }

   .about img{
      width: 150px;
   }

   .info-about {
      text-align: start;
      margin-left: 1rem;
      width: 50%;
   }

   .info-about h1{
      font-size: 20px;
      
   
   }

   .info-about p{
      font-size:  12px;
    }
 }