.footer{
    width: 100%;
    height: 60px;
    background: rgb(6, 6, 31);
    text-align: center;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer p {
    margin:auto; 
  }


  /* Estilos para pantallas medianas (por ejemplo, tablets) */
@media (max-width: 768px) {
    .footer{
        font-size: 13px;
        height: 50px;
    }
  }
  
  /* Estilos para pantallas pequeñas (por ejemplo, teléfonos móviles) */
  @media (max-width: 480px) {
    .footer{
        font-size: 10px;
        height: 40px;
    }
   
  }