.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out;
    position: fixed; /* Hace que el menú sea fijo */
    top: 0; /* Lo fija en la parte superior de la ventana */
    z-index: 1000; /* Puedes ajustar esto según tus necesidades para asegurarte de que esté por encima de otros elementos */
     left: 0;
     background: rgb(6, 6, 31);
  }


  
  .menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .list {
    display: flex;
    list-style-type: none;
  }
  
  .list li {
    text-decoration: none;
    width: auto;
    padding: 8px;
    margin: 0.5rem;
    cursor: pointer;
    border-bottom: solid 2px greenyellow;
  }
  
  .list a {
    text-decoration: none;
    color: white;
  }
  
  .list li:hover {
    background: rgb(49, 49, 87);
    transition: 1s;
    transform: rotate();
  }
  
  @media (max-width: 768px) {
    .header{
        justify-content: space-between;
        height: 50px;
    }

    .header h2{
        font-size: 1rem;
        margin-left: 30px;
    }
    
    .menu-button {
      display: block;
      margin-right: 20px;
    }

 

    .icono{
        color: white;
        width: 60px;   
    }

    
  
    .list {
      width: 150px;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: #333; /* Ajusta el fondo según tu diseño */
      padding: 5px;
      text-align: center;
    }
  
    .menu-list {
      display: flex;
    }
  
    .header.menu-open {
      height: auto;
    }
    
  }
  