.principal{
    height: 80%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;  
    margin-top: 100px;  
}

.text{
 
  font-size: xx-large;
  font-weight: bold;
  color: rgb(6, 240, 6);
  text-align: start;
   width: 50%;
}

.text p{
    font-size: 1.5rem;
    color: gray;
}

.text button{
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 900;

}

.principal img{
    width: 350px;
    height: 350px;
    object-fit: scale-down;
}



  /* Estilos para pantallas medianas (por ejemplo, tablets) */
  @media (max-width: 768px) {
    .principal{
        height: 50%;
        justify-content:center;
    }

    .text{
        font-size: 1.4rem;
        font-weight: bold;
        color: rgb(6, 240, 6);
      }
      .text p{
          margin-top: -20px;
          font-size: 15px;
          color: gray;
      }

        .principal img{
            width: 180px;
            object-fit: scale-down;
        }


        .text button{
            width: 80px;
            height: 30px;
            color: rgb(0, 0, 0);
            font-size: 13px;
            font-weight: 900;
            cursor: pointer;
        }
  }
  
  /* Estilos para pantallas pequeñas (por ejemplo, teléfonos móviles) */
  @media (max-width: 480px) {
    .principal{
        height: 50%;
        justify-content:center;
        margin-top: 30px;  
    }

    .text{
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(6, 240, 6);
      }
      .text p{
          margin-top: -20px;
          font-size: 15px;
          color: gray;
      }

        .principal img{
            width: 140px;
            object-fit: scale-down;
        }


        .text button{
            width: 80px;
            height: 30px;
            color: rgb(0, 0, 0);
            font-size: 13px;
            font-weight: 900;
            cursor: pointer;
        }
   
  }